@model Lab6.Models.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "ProductDetailsPage";
}

<h4>@Model.ProductCategory.Select(model => model.Name).Single() > @Model.ProductSubcategory.Select(model => model.Name).Single()</h4>

<div>
    @{string productID = null;}
    @foreach (var item in Model.Products)
    {
        <h2>@Html.DisplayFor(model => item.Name)</h2>
        productID = @Request.QueryString["productID"];
    }
    
    @{int photoID = 0;}

    @foreach (var item in Model.ProductPhoto)
    {
        photoID = item.ProductPhotoID;
    }

    <img src="@Url.Action("Show", "Home", new { id = photoID })" />

    
    @foreach (var item in Model.ProductDescription)
    {
        <p>@Html.DisplayFor(model => item.Description)</p>
    }

    @foreach (var item in Model.ProductReview)
    {
        <h3>@Html.DisplayFor(model => item.Rating)</h3>
        <h4>@Html.DisplayFor(model => item.ReviewerName)</h4>
        <br />
        <p>@Html.DisplayFor(model => item.ReviewDate)</p>
        <p>@Html.DisplayFor(model => item.Comments)</p>
    }


    @Html.ActionLink("Post A Review","ReviewForm","Home", new { id = productID }, null)
    

    

</div>